daemon = false
pidfile = "/tmp/g35d.pid"
uinput = "/dev/uinput"
profile = "Profile1"

keymap Profile1 {
    G1 = 163
    G2 = 164
    G3 = 165
    VOL_DOWN = 114
    VOL_UP = 115
}

keymap Profile2 {
    G1 = 59
    G2 = 60
    G3 = 61
    VOL_DOWN = 114
    VOL_UP = 115
}
